<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>+1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,24}</string>
                <key>spriteSourceSize</key>
                <string>{19,24}</string>
                <key>textureRect</key>
                <string>{{834,865},{19,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>+2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,24}</string>
                <key>spriteSourceSize</key>
                <string>{19,24}</string>
                <key>textureRect</key>
                <string>{{856,369},{19,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>+3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,24}</string>
                <key>spriteSourceSize</key>
                <string>{19,24}</string>
                <key>textureRect</key>
                <string>{{856,395},{19,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>+4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,24}</string>
                <key>spriteSourceSize</key>
                <string>{19,24}</string>
                <key>textureRect</key>
                <string>{{856,421},{19,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>+5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,24}</string>
                <key>spriteSourceSize</key>
                <string>{19,24}</string>
                <key>textureRect</key>
                <string>{{789,965},{19,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>+6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,24}</string>
                <key>spriteSourceSize</key>
                <string>{19,24}</string>
                <key>textureRect</key>
                <string>{{813,888},{19,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>+7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,24}</string>
                <key>spriteSourceSize</key>
                <string>{19,24}</string>
                <key>textureRect</key>
                <string>{{834,886},{19,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>+8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,24}</string>
                <key>spriteSourceSize</key>
                <string>{19,24}</string>
                <key>textureRect</key>
                <string>{{787,986},{19,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>+9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,24}</string>
                <key>spriteSourceSize</key>
                <string>{19,24}</string>
                <key>textureRect</key>
                <string>{{815,965},{19,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>+X.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,41}</string>
                <key>spriteSourceSize</key>
                <string>{32,41}</string>
                <key>textureRect</key>
                <string>{{387,984},{32,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{394,54}</string>
                <key>spriteSourceSize</key>
                <string>{394,54}</string>
                <key>textureRect</key>
                <string>{{1,529},{394,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anniu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,66}</string>
                <key>spriteSourceSize</key>
                <string>{130,66}</string>
                <key>textureRect</key>
                <string>{{119,914},{130,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,79}</string>
                <key>spriteSourceSize</key>
                <string>{202,79}</string>
                <key>textureRect</key>
                <string>{{775,238},{202,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buqiang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,30}</string>
                <key>spriteSourceSize</key>
                <string>{62,30}</string>
                <key>textureRect</key>
                <string>{{723,985},{62,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chouma.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{473,984},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gui'ze.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,65}</string>
                <key>spriteSourceSize</key>
                <string>{64,65}</string>
                <key>textureRect</key>
                <string>{{723,918},{64,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kaishiyouxi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,38}</string>
                <key>spriteSourceSize</key>
                <string>{126,38}</string>
                <key>textureRect</key>
                <string>{{560,663},{126,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>laingpai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,40}</string>
                <key>spriteSourceSize</key>
                <string>{92,40}</string>
                <key>textureRect</key>
                <string>{{255,972},{92,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lananniu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,66}</string>
                <key>spriteSourceSize</key>
                <string>{130,66}</string>
                <key>textureRect</key>
                <string>{{685,515},{130,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>meiniu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,60}</string>
                <key>spriteSourceSize</key>
                <string>{140,60}</string>
                <key>textureRect</key>
                <string>{{825,1},{140,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>niuba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,66}</string>
                <key>spriteSourceSize</key>
                <string>{98,66}</string>
                <key>textureRect</key>
                <string>{{600,747},{98,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>niuer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,66}</string>
                <key>spriteSourceSize</key>
                <string>{98,66}</string>
                <key>textureRect</key>
                <string>{{428,848},{98,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>niujiu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,66}</string>
                <key>spriteSourceSize</key>
                <string>{98,66}</string>
                <key>textureRect</key>
                <string>{{700,740},{98,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>niuliu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,66}</string>
                <key>spriteSourceSize</key>
                <string>{98,66}</string>
                <key>textureRect</key>
                <string>{{768,726},{98,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>niuniu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,73}</string>
                <key>spriteSourceSize</key>
                <string>{106,73}</string>
                <key>textureRect</key>
                <string>{{577,579},{106,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>niuqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,66}</string>
                <key>spriteSourceSize</key>
                <string>{98,66}</string>
                <key>textureRect</key>
                <string>{{387,916},{98,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>niusan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,66}</string>
                <key>spriteSourceSize</key>
                <string>{98,66}</string>
                <key>textureRect</key>
                <string>{{487,916},{98,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>niusi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,66}</string>
                <key>spriteSourceSize</key>
                <string>{98,66}</string>
                <key>textureRect</key>
                <string>{{528,848},{98,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>niuwu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,66}</string>
                <key>spriteSourceSize</key>
                <string>{98,66}</string>
                <key>textureRect</key>
                <string>{{628,815},{98,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>niuyi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,66}</string>
                <key>spriteSourceSize</key>
                <string>{98,66}</string>
                <key>textureRect</key>
                <string>{{587,918},{98,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nn_bjgz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,48}</string>
                <key>spriteSourceSize</key>
                <string>{172,48}</string>
                <key>textureRect</key>
                <string>{{397,529},{172,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nn_cm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,37}</string>
                <key>spriteSourceSize</key>
                <string>{26,37}</string>
                <key>textureRect</key>
                <string>{{774,890},{26,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nn_gz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,48}</string>
                <key>spriteSourceSize</key>
                <string>{112,48}</string>
                <key>textureRect</key>
                <string>{{571,529},{112,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nn_gz_xt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,5}</string>
                <key>spriteSourceSize</key>
                <string>{27,5}</string>
                <key>textureRect</key>
                <string>{{685,647},{27,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nn_js_db_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,149}</string>
                <key>spriteSourceSize</key>
                <string>{235,149}</string>
                <key>textureRect</key>
                <string>{{674,1},{235,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nn_js_db_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,149}</string>
                <key>spriteSourceSize</key>
                <string>{235,149}</string>
                <key>textureRect</key>
                <string>{{1,585},{235,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nn_js_sz_db1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,102}</string>
                <key>spriteSourceSize</key>
                <string>{176,102}</string>
                <key>textureRect</key>
                <string>{{238,585},{176,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nn_js_sz_db2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,101}</string>
                <key>spriteSourceSize</key>
                <string>{176,101}</string>
                <key>textureRect</key>
                <string>{{147,736},{176,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nn_jsq_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,76}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{696,840},{76,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nn_ks_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,101}</string>
                <key>spriteSourceSize</key>
                <string>{185,101}</string>
                <key>textureRect</key>
                <string>{{250,689},{185,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nn_ks_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,91}</string>
                <key>spriteSourceSize</key>
                <string>{78,91}</string>
                <key>textureRect</key>
                <string>{{775,442},{78,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nn_ks_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,91}</string>
                <key>spriteSourceSize</key>
                <string>{78,91}</string>
                <key>textureRect</key>
                <string>{{600,654},{78,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nn_ks_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{275,99}</string>
                <key>spriteSourceSize</key>
                <string>{275,99}</string>
                <key>textureRect</key>
                <string>{{674,238},{275,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nn_ks_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,61}</string>
                <key>spriteSourceSize</key>
                <string>{60,61}</string>
                <key>textureRect</key>
                <string>{{825,143},{60,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nn_ok.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,46}</string>
                <key>spriteSourceSize</key>
                <string>{35,46}</string>
                <key>textureRect</key>
                <string>{{547,811},{35,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nn_px_jhn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,73}</string>
                <key>spriteSourceSize</key>
                <string>{130,73}</string>
                <key>textureRect</key>
                <string>{{428,663},{130,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nn_px_yhn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,73}</string>
                <key>spriteSourceSize</key>
                <string>{132,73}</string>
                <key>textureRect</key>
                <string>{{353,689},{132,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nn_xz_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,163}</string>
                <key>spriteSourceSize</key>
                <string>{144,163}</string>
                <key>textureRect</key>
                <string>{{1,736},{144,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nn_xz_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,116}</string>
                <key>spriteSourceSize</key>
                <string>{111,116}</string>
                <key>textureRect</key>
                <string>{{1,901},{111,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nn_xz_db.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,65}</string>
                <key>spriteSourceSize</key>
                <string>{130,65}</string>
                <key>textureRect</key>
                <string>{{753,522},{130,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nn_xz_db1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,65}</string>
                <key>spriteSourceSize</key>
                <string>{130,65}</string>
                <key>textureRect</key>
                <string>{{820,522},{130,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nn_xz_sz_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,29}</string>
                <key>spriteSourceSize</key>
                <string>{16,29}</string>
                <key>textureRect</key>
                <string>{{869,830},{16,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nn_xz_sz_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,30}</string>
                <key>spriteSourceSize</key>
                <string>{23,30}</string>
                <key>textureRect</key>
                <string>{{856,337},{23,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nn_xz_sz_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,31}</string>
                <key>spriteSourceSize</key>
                <string>{22,31}</string>
                <key>textureRect</key>
                <string>{{595,815},{22,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nn_xz_sz_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,32}</string>
                <key>spriteSourceSize</key>
                <string>{26,32}</string>
                <key>textureRect</key>
                <string>{{806,826},{26,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nn_xz_sz_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,32}</string>
                <key>spriteSourceSize</key>
                <string>{26,32}</string>
                <key>textureRect</key>
                <string>{{856,235},{26,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nn_xz_sz_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,32}</string>
                <key>spriteSourceSize</key>
                <string>{26,32}</string>
                <key>textureRect</key>
                <string>{{856,269},{26,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nn_xz_sz_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,32}</string>
                <key>spriteSourceSize</key>
                <string>{26,32}</string>
                <key>textureRect</key>
                <string>{{856,303},{26,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nn_xz_sz_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{507,984},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nn_xz_sz_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{541,984},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nn_zhuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,36}</string>
                <key>spriteSourceSize</key>
                <string>{37,36}</string>
                <key>textureRect</key>
                <string>{{349,968},{37,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nn_zj_db.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,94}</string>
                <key>spriteSourceSize</key>
                <string>{92,94}</string>
                <key>textureRect</key>
                <string>{{251,876},{92,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nn_zj_db_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,20}</string>
                <key>spriteSourceSize</key>
                <string>{80,20}</string>
                <key>textureRect</key>
                <string>{{865,654},{80,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nn_zj_db_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{680,654},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nn_zj_db_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,77}</string>
                <key>spriteSourceSize</key>
                <string>{8,77}</string>
                <key>textureRect</key>
                <string>{{119,1006},{8,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nn_zj_db_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,134}</string>
                <key>spriteSourceSize</key>
                <string>{22,134}</string>
                <key>textureRect</key>
                <string>{{119,982},{22,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nn_zj_xl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,33}</string>
                <key>spriteSourceSize</key>
                <string>{33,33}</string>
                <key>textureRect</key>
                <string>{{834,830},{33,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nn_zj_zg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,27}</string>
                <key>spriteSourceSize</key>
                <string>{55,27}</string>
                <key>textureRect</key>
                <string>{{825,206},{55,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiangzhuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,30}</string>
                <key>spriteSourceSize</key>
                <string>{62,30}</string>
                <key>textureRect</key>
                <string>{{774,826},{62,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tishi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,40}</string>
                <key>spriteSourceSize</key>
                <string>{92,40}</string>
                <key>textureRect</key>
                <string>{{836,736},{92,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wancheng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,66}</string>
                <key>spriteSourceSize</key>
                <string>{98,66}</string>
                <key>textureRect</key>
                <string>{{655,918},{98,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wf_bt_nn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,35}</string>
                <key>spriteSourceSize</key>
                <string>{117,35}</string>
                <key>textureRect</key>
                <string>{{428,811},{117,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wf_nn_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,32}</string>
                <key>spriteSourceSize</key>
                <string>{73,32}</string>
                <key>textureRect</key>
                <string>{{353,823},{73,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wf_nn_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,40}</string>
                <key>spriteSourceSize</key>
                <string>{90,40}</string>
                <key>textureRect</key>
                <string>{{345,876},{90,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wf_px_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{671,526}</string>
                <key>spriteSourceSize</key>
                <string>{671,526}</string>
                <key>textureRect</key>
                <string>{{1,1},{671,526}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wf_px_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,45}</string>
                <key>spriteSourceSize</key>
                <string>{37,45}</string>
                <key>textureRect</key>
                <string>{{789,918},{37,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wf_xq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{806,860},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wf_xq_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,82}</string>
                <key>spriteSourceSize</key>
                <string>{159,82}</string>
                <key>textureRect</key>
                <string>{{416,579},{159,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wuxiaoniu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,71}</string>
                <key>spriteSourceSize</key>
                <string>{130,71}</string>
                <key>textureRect</key>
                <string>{{428,738},{130,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhadan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,70}</string>
                <key>spriteSourceSize</key>
                <string>{97,70}</string>
                <key>textureRect</key>
                <string>{{766,654},{97,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>—1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,24}</string>
                <key>spriteSourceSize</key>
                <string>{19,24}</string>
                <key>textureRect</key>
                <string>{{808,991},{19,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>—2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,24}</string>
                <key>spriteSourceSize</key>
                <string>{19,24}</string>
                <key>textureRect</key>
                <string>{{855,886},{19,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>—3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,24}</string>
                <key>spriteSourceSize</key>
                <string>{19,24}</string>
                <key>textureRect</key>
                <string>{{860,865},{19,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>—4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,24}</string>
                <key>spriteSourceSize</key>
                <string>{19,24}</string>
                <key>textureRect</key>
                <string>{{387,857},{19,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>—5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,24}</string>
                <key>spriteSourceSize</key>
                <string>{19,24}</string>
                <key>textureRect</key>
                <string>{{387,883},{19,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>—6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,24}</string>
                <key>spriteSourceSize</key>
                <string>{19,24}</string>
                <key>textureRect</key>
                <string>{{828,914},{19,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>—7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,24}</string>
                <key>spriteSourceSize</key>
                <string>{19,24}</string>
                <key>textureRect</key>
                <string>{{849,912},{19,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>—8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,24}</string>
                <key>spriteSourceSize</key>
                <string>{19,24}</string>
                <key>textureRect</key>
                <string>{{828,940},{19,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>—9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,24}</string>
                <key>spriteSourceSize</key>
                <string>{19,24}</string>
                <key>textureRect</key>
                <string>{{836,961},{19,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>—X.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,41}</string>
                <key>spriteSourceSize</key>
                <string>{32,41}</string>
                <key>textureRect</key>
                <string>{{430,984},{32,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>niuniu.png</string>
            <key>size</key>
            <string>{886,1017}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8177a165a3adfc933678b4fa49ed0f29:e464b36893b5669158ce2be364653591:81c2ba820c10aac35f0b6060aae19472$</string>
            <key>textureFileName</key>
            <string>niuniu.png</string>
        </dict>
    </dict>
</plist>
