<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,48}</string>
                <key>spriteSourceSize</key>
                <string>{35,48}</string>
                <key>textureRect</key>
                <string>{{871,2411},{31,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,48}</string>
                <key>spriteSourceSize</key>
                <string>{35,48}</string>
                <key>textureRect</key>
                <string>{{1427,2318},{35,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,48}</string>
                <key>spriteSourceSize</key>
                <string>{35,48}</string>
                <key>textureRect</key>
                <string>{{1738,2166},{33,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,48}</string>
                <key>spriteSourceSize</key>
                <string>{35,48}</string>
                <key>textureRect</key>
                <string>{{1701,2166},{35,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,48}</string>
                <key>spriteSourceSize</key>
                <string>{35,48}</string>
                <key>textureRect</key>
                <string>{{1897,2047},{35,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,48}</string>
                <key>spriteSourceSize</key>
                <string>{35,48}</string>
                <key>textureRect</key>
                <string>{{1897,2097},{33,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{31,48}</string>
                <key>spriteSourceSize</key>
                <string>{35,48}</string>
                <key>textureRect</key>
                <string>{{1808,2166},{31,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,48}</string>
                <key>spriteSourceSize</key>
                <string>{35,48}</string>
                <key>textureRect</key>
                <string>{{1841,2166},{31,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,48}</string>
                <key>spriteSourceSize</key>
                <string>{35,48}</string>
                <key>textureRect</key>
                <string>{{1773,2166},{33,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{31,48}</string>
                <key>spriteSourceSize</key>
                <string>{35,48}</string>
                <key>textureRect</key>
                <string>{{1626,2232},{31,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>J.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,48}</string>
                <key>spriteSourceSize</key>
                <string>{35,48}</string>
                <key>textureRect</key>
                <string>{{1659,2232},{31,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JActorB.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,177}</string>
                <key>spriteSourceSize</key>
                <string>{132,177}</string>
                <key>textureRect</key>
                <string>{{1,2318},{132,177}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>JActorR.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,177}</string>
                <key>spriteSourceSize</key>
                <string>{132,177}</string>
                <key>textureRect</key>
                <string>{{1629,1987},{132,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>K.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,48}</string>
                <key>spriteSourceSize</key>
                <string>{35,48}</string>
                <key>textureRect</key>
                <string>{{1626,2282},{31,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>KActorB.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,177}</string>
                <key>spriteSourceSize</key>
                <string>{132,177}</string>
                <key>textureRect</key>
                <string>{{180,2318},{132,177}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>KActorR.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,177}</string>
                <key>spriteSourceSize</key>
                <string>{132,177}</string>
                <key>textureRect</key>
                <string>{{1763,1987},{132,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Q.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{31,48}</string>
                <key>spriteSourceSize</key>
                <string>{35,48}</string>
                <key>textureRect</key>
                <string>{{1874,2166},{31,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>QActorB.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,177}</string>
                <key>spriteSourceSize</key>
                <string>{132,177}</string>
                <key>textureRect</key>
                <string>{{359,2318},{132,177}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>QActorR.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,177}</string>
                <key>spriteSourceSize</key>
                <string>{132,177}</string>
                <key>textureRect</key>
                <string>{{538,2318},{132,177}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,222}</string>
                <key>spriteSourceSize</key>
                <string>{162,222}</string>
                <key>textureRect</key>
                <string>{{1465,1987},{162,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,58}</string>
                <key>spriteSourceSize</key>
                <string>{48,58}</string>
                <key>textureRect</key>
                <string>{{1897,1987},{48,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dawang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,329}</string>
                <key>spriteSourceSize</key>
                <string>{242,329}</string>
                <key>textureRect</key>
                <string>{{1,1},{242,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fk1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,329}</string>
                <key>spriteSourceSize</key>
                <string>{242,329}</string>
                <key>textureRect</key>
                <string>{{1,332},{242,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fk10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,329}</string>
                <key>spriteSourceSize</key>
                <string>{242,329}</string>
                <key>textureRect</key>
                <string>{{245,1},{242,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fk11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,329}</string>
                <key>spriteSourceSize</key>
                <string>{242,329}</string>
                <key>textureRect</key>
                <string>{{1,663},{242,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fk12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,329}</string>
                <key>spriteSourceSize</key>
                <string>{242,329}</string>
                <key>textureRect</key>
                <string>{{245,332},{242,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fk13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,329}</string>
                <key>spriteSourceSize</key>
                <string>{242,329}</string>
                <key>textureRect</key>
                <string>{{489,1},{242,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fk2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,329}</string>
                <key>spriteSourceSize</key>
                <string>{242,329}</string>
                <key>textureRect</key>
                <string>{{1,994},{242,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fk3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,329}</string>
                <key>spriteSourceSize</key>
                <string>{242,329}</string>
                <key>textureRect</key>
                <string>{{245,663},{242,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fk4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,329}</string>
                <key>spriteSourceSize</key>
                <string>{242,329}</string>
                <key>textureRect</key>
                <string>{{489,332},{242,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fk5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,329}</string>
                <key>spriteSourceSize</key>
                <string>{242,329}</string>
                <key>textureRect</key>
                <string>{{733,1},{242,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fk6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,329}</string>
                <key>spriteSourceSize</key>
                <string>{242,329}</string>
                <key>textureRect</key>
                <string>{{1,1325},{242,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fk7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,329}</string>
                <key>spriteSourceSize</key>
                <string>{242,329}</string>
                <key>textureRect</key>
                <string>{{245,994},{242,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fk8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,329}</string>
                <key>spriteSourceSize</key>
                <string>{242,329}</string>
                <key>textureRect</key>
                <string>{{489,663},{242,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fk9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,329}</string>
                <key>spriteSourceSize</key>
                <string>{242,329}</string>
                <key>textureRect</key>
                <string>{{733,332},{242,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,329}</string>
                <key>spriteSourceSize</key>
                <string>{242,329}</string>
                <key>textureRect</key>
                <string>{{977,1},{242,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{68,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1287,2318},{68,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,77}</string>
                <key>spriteSourceSize</key>
                <string>{83,97}</string>
                <key>textureRect</key>
                <string>{{1039,2318},{83,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ht1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,329}</string>
                <key>spriteSourceSize</key>
                <string>{242,329}</string>
                <key>textureRect</key>
                <string>{{1,1656},{242,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ht10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,329}</string>
                <key>spriteSourceSize</key>
                <string>{242,329}</string>
                <key>textureRect</key>
                <string>{{245,1325},{242,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ht11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,329}</string>
                <key>spriteSourceSize</key>
                <string>{242,329}</string>
                <key>textureRect</key>
                <string>{{489,994},{242,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ht12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,329}</string>
                <key>spriteSourceSize</key>
                <string>{242,329}</string>
                <key>textureRect</key>
                <string>{{733,663},{242,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ht13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,329}</string>
                <key>spriteSourceSize</key>
                <string>{242,329}</string>
                <key>textureRect</key>
                <string>{{977,332},{242,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ht2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,329}</string>
                <key>spriteSourceSize</key>
                <string>{242,329}</string>
                <key>textureRect</key>
                <string>{{1221,1},{242,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ht3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,329}</string>
                <key>spriteSourceSize</key>
                <string>{242,329}</string>
                <key>textureRect</key>
                <string>{{1,1987},{242,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ht4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,329}</string>
                <key>spriteSourceSize</key>
                <string>{242,329}</string>
                <key>textureRect</key>
                <string>{{245,1656},{242,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ht5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,329}</string>
                <key>spriteSourceSize</key>
                <string>{242,329}</string>
                <key>textureRect</key>
                <string>{{489,1325},{242,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ht6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,329}</string>
                <key>spriteSourceSize</key>
                <string>{242,329}</string>
                <key>textureRect</key>
                <string>{{733,994},{242,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ht7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,329}</string>
                <key>spriteSourceSize</key>
                <string>{242,329}</string>
                <key>textureRect</key>
                <string>{{977,663},{242,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ht8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,329}</string>
                <key>spriteSourceSize</key>
                <string>{242,329}</string>
                <key>textureRect</key>
                <string>{{1221,332},{242,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ht9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,329}</string>
                <key>spriteSourceSize</key>
                <string>{242,329}</string>
                <key>textureRect</key>
                <string>{{1465,1},{242,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hupaijiaobiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,64}</string>
                <key>spriteSourceSize</key>
                <string>{70,64}</string>
                <key>textureRect</key>
                <string>{{1629,2166},{70,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hx1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,329}</string>
                <key>spriteSourceSize</key>
                <string>{242,329}</string>
                <key>textureRect</key>
                <string>{{1709,1},{242,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hx10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,329}</string>
                <key>spriteSourceSize</key>
                <string>{242,329}</string>
                <key>textureRect</key>
                <string>{{245,1987},{242,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hx11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,329}</string>
                <key>spriteSourceSize</key>
                <string>{242,329}</string>
                <key>textureRect</key>
                <string>{{489,1656},{242,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hx12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,329}</string>
                <key>spriteSourceSize</key>
                <string>{242,329}</string>
                <key>textureRect</key>
                <string>{{733,1325},{242,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hx13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,329}</string>
                <key>spriteSourceSize</key>
                <string>{242,329}</string>
                <key>textureRect</key>
                <string>{{977,994},{242,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hx2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,329}</string>
                <key>spriteSourceSize</key>
                <string>{242,329}</string>
                <key>textureRect</key>
                <string>{{1221,663},{242,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hx3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,329}</string>
                <key>spriteSourceSize</key>
                <string>{242,329}</string>
                <key>textureRect</key>
                <string>{{1465,332},{242,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hx4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,329}</string>
                <key>spriteSourceSize</key>
                <string>{242,329}</string>
                <key>textureRect</key>
                <string>{{1709,332},{242,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hx5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,329}</string>
                <key>spriteSourceSize</key>
                <string>{242,329}</string>
                <key>textureRect</key>
                <string>{{489,1987},{242,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hx6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,329}</string>
                <key>spriteSourceSize</key>
                <string>{242,329}</string>
                <key>textureRect</key>
                <string>{{733,1656},{242,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hx7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,329}</string>
                <key>spriteSourceSize</key>
                <string>{242,329}</string>
                <key>textureRect</key>
                <string>{{977,1325},{242,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hx8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,329}</string>
                <key>spriteSourceSize</key>
                <string>{242,329}</string>
                <key>textureRect</key>
                <string>{{1221,994},{242,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hx9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,329}</string>
                <key>spriteSourceSize</key>
                <string>{242,329}</string>
                <key>textureRect</key>
                <string>{{1465,663},{242,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1215,2318},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>laizi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,95}</string>
                <key>spriteSourceSize</key>
                <string>{74,95}</string>
                <key>textureRect</key>
                <string>{{1550,2211},{74,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>laiziActor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,152}</string>
                <key>spriteSourceSize</key>
                <string>{124,152}</string>
                <key>textureRect</key>
                <string>{{717,2318},{124,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>laizihuase.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{83,81}</string>
                <key>spriteSourceSize</key>
                <string>{83,97}</string>
                <key>textureRect</key>
                <string>{{954,2318},{83,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>laizijiaobiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,20}</string>
                <key>spriteSourceSize</key>
                <string>{16,20}</string>
                <key>textureRect</key>
                <string>{{1427,2368},{16,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mh1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,329}</string>
                <key>spriteSourceSize</key>
                <string>{242,329}</string>
                <key>textureRect</key>
                <string>{{1709,663},{242,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mh10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,329}</string>
                <key>spriteSourceSize</key>
                <string>{242,329}</string>
                <key>textureRect</key>
                <string>{{733,1987},{242,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mh11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,329}</string>
                <key>spriteSourceSize</key>
                <string>{242,329}</string>
                <key>textureRect</key>
                <string>{{977,1656},{242,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mh12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,329}</string>
                <key>spriteSourceSize</key>
                <string>{242,329}</string>
                <key>textureRect</key>
                <string>{{1221,1325},{242,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mh13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,329}</string>
                <key>spriteSourceSize</key>
                <string>{242,329}</string>
                <key>textureRect</key>
                <string>{{1465,994},{242,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mh2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,329}</string>
                <key>spriteSourceSize</key>
                <string>{242,329}</string>
                <key>textureRect</key>
                <string>{{1709,994},{242,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mh3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,329}</string>
                <key>spriteSourceSize</key>
                <string>{242,329}</string>
                <key>textureRect</key>
                <string>{{977,1987},{242,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mh4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,329}</string>
                <key>spriteSourceSize</key>
                <string>{242,329}</string>
                <key>textureRect</key>
                <string>{{1221,1656},{242,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mh5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,329}</string>
                <key>spriteSourceSize</key>
                <string>{242,329}</string>
                <key>textureRect</key>
                <string>{{1465,1325},{242,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mh6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,329}</string>
                <key>spriteSourceSize</key>
                <string>{242,329}</string>
                <key>textureRect</key>
                <string>{{1709,1325},{242,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mh7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,329}</string>
                <key>spriteSourceSize</key>
                <string>{242,329}</string>
                <key>textureRect</key>
                <string>{{1221,1987},{242,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mh8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,329}</string>
                <key>spriteSourceSize</key>
                <string>{242,329}</string>
                <key>textureRect</key>
                <string>{{1465,1656},{242,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mh9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,329}</string>
                <key>spriteSourceSize</key>
                <string>{242,329}</string>
                <key>textureRect</key>
                <string>{{1709,1656},{242,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plum.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,97}</string>
                <key>spriteSourceSize</key>
                <string>{83,97}</string>
                <key>textureRect</key>
                <string>{{1465,2211},{83,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spade.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{81,91}</string>
                <key>spriteSourceSize</key>
                <string>{83,97}</string>
                <key>textureRect</key>
                <string>{{871,2318},{81,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>squre.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{69,89}</string>
                <key>spriteSourceSize</key>
                <string>{83,97}</string>
                <key>textureRect</key>
                <string>{{1124,2318},{69,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>you.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{68,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1357,2318},{68,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>poker.png</string>
            <key>size</key>
            <string>{1952,2451}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d13fcafad825e435f991d962ae8e47c:14cea582614fcea3689d0240d4a40549:7091b912c8b6d40e279854fb79f668a3$</string>
            <key>textureFileName</key>
            <string>poker.png</string>
        </dict>
    </dict>
</plist>
